<nav
  class="bg-light-blue flex justify-center items-center p-2 sticky top-0 w-full z-50"
>
  <span
    ><img
      class="h-14"
      src="../../../assets/images/pokemon-app-logo.png"
      alt="pokemon-logo"
  /></span>
  <ng-container *ngIf="trainer !== undefined">
    <ul class="flex">
      <li class="px-4">
        <a routerLink="/pokemons">Go catch'em all</a>
      </li>
      <li class="px-4">
        <a routerLink="/profile">Trainers Profile</a>
      </li>
      <li class="px-4">
        <button (click)="handleLogout()" class="rounded border border-black">
          Logout
        </button>
      </li>
    </ul>
  </ng-container>
</nav>
