
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}


.hide-scrollBar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.background-screen {
    border-style: inset;
    border-color: #ab0026;
    border-width: 3px;
    background: linear-gradient(323deg, rgba(0,0,0,1) 0%, rgba(113,113,113,1) 100%);
}


.custom-card{
    border: 1px solid #D9D9D9;
    box-shadow: 4px 4px 0px rgb(118, 118, 118);
    border: 3px solid #ffffff;
}
.custom-card:hover {
    border: 3px dashed #000000;
}

.bg-light-blue {
    background-color: #E0F0FF;
}

.bg-pokedex-red {
    background-color: #F02250;
}

.styled-border {
    border: 5px dashed #000000;
}

.login-btn {
    background-color: #FCE815;
    border: 5px solid #000000;
}

.yellow-btn {
    background-color: #FCE815;
}

.yellow-btn:hover{
    background-color: #aca013;
}

.red-btn {
    background-color: #F02250;
}

.red-btn:hover {
    background-color: #c4143a;

}

.login-btn:hover {
    border: 5px dashed #000000;
    
}